@CHARSET "UTF-8";

a{
	color:inherit;
	text-decoration:none;}

ul{
	list-style:none;}
	
.contant{
	width:100%;
	height:120px;
	background:url("../images/temp.jpg");
}
.contant-in{
	width:1000px;
	height:100px;
	padding-top:20px;
    margin:0 auto;
}
.picture{
	float:left;
	width:400px;
    height:100px;
    margin-left:50px;
}
.pic{
	background:#fff;
	border-radius: 50%;
	position: relative;
	width:110px;
	height:110px;
	float:left;
	text-align: center;
	border:1px solid #ddd;
}
.stuName{
	float:left;
	min-width:200px;
	height:50px;
	margin-left:50px;
	margin-top:15px;
	color:#ddd;
}
.name{
	color:#fff;
	font-size:18px;
	font-weight:bold;
	letter-spacing: 4px;
}
.change{
	font-size:16px;
	font-weight:600;
	margin-left:20px;
	cursor:pointer;
}

.can{
	display: none; 
	background:black; 
	opacity: 0.5; 
	width:100%; 
	height: 100%;  
	position: fixed; 
	z-index:7;
	top:0px; 
	left:0px;}

.message-config{
	z-index:9;
	width:400px; 
	min-height:470px;
	background:#fff;
	padding: 15px;
	border: 1px solid #FFCECF; 
	border-radius:5px;
	margin: 0 auto; 
	display: none;}

.message-config0{
	z-index:9;
	width:400px; 
	height:500px;
	background:#fff;
	padding: 15px;
	border: 1px solid #FFCECF; 
	border-radius:5px;
	margin: 0 auto; 
	display: none;}

.message-config-head{
	width:100%; 
	height: 30px;}
	
.message-config-head span{
	line-height: 30px; 
	padding-left: 30px; 
	font-size: 20px; }
	 
.message-config-head img{
	float:right;
	cursor:pointer;}

.in-line{
	width:350px;
	min-height:375px;
	margin:20px auto;
	position: relative;}

.in-line ul{
	width:350px;
	min-height:315px;
	margin: 0 auto;}
.in-line ul li{
	width:350px;
	min-height:50px;
	margin-top:10px;}

.in-line ul li p{
	margin-left:60px;
	margin-top:10px;
	font-size:14px;
	float:left;}
.in-line0{
	width:350px;
	height:375px;
	margin:20px auto;}

.in-line0 ul{
	width:350px;
	height:315px;
	margin: 0 auto;}

.in-line0 ul li{
	width:350px;
	height:40px;
	position:relative;
	margin-top:10px;}

.cc{
	font-size:12px!important;
	color:red;
	position: absolute;
	left: 80px;
	top: 30px;
	display: none;
}

.in-line0 ul li p{
	margin-left:60px;
	margin-top:10px;
	font-size:14px;
	float:left;}

.infoInput{
	width:120px;
	height:40px;
	float:left;
	padding:0 15px;
	border:1px solid #666;
	border-radius:4px;
	letter-spacing:3px;}
.infoInput0{
	width:150px;
	height:30px;
	float:left;
	padding:0 15px;
	border:1px solid #666;
	border-radius:4px;
	letter-spacing:3px;}	

.submit{
	width:120px;
	margin-left: 125px;
	background:#333;
	opacity:0.8;
	color:#fff;
	border:0;
	cursor:pointer;
	font-size:16px;
	border-radius:5px;
	height: 40px;
	margin-top: 15px;}
.nn{
	position: absolute;
	bottom:0px;
	width:120px;
	height:40px;
	opacity:0.3;
	background:#fff;
	left:125px;
	
}

.achievement{
	width:400px;
	float:right;
	height:100px;
}
.achievement ul li{
	float:left;
	padding:8px 5px;
	text-align: center;
	color:#ddd;
	font-size:14px;
	margin-left:10px;
}
.achievement ul li span{
	font-size:17px;
    font-weight:600;
    line-height:35px;
    letter-spacing: 2px;
}
.achievement ul li button{
	padding:7px 12px;
	border:1px solid #707c9a;
	color:#fff;
	border-radius: 5px;
	cursor:pointer;
	background:#333;
	margin-top: 15px;
}

