<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.opt.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="cn.opt.po.Admin" >
    <id column="adm_id" property="admId" jdbcType="INTEGER" />
    <result column="adm_tel" property="admTel" jdbcType="VARCHAR" />
    <result column="adm_name" property="admName" jdbcType="VARCHAR" />
    <result column="adm_pwd" property="admPwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    adm_id, adm_tel, adm_name, adm_pwd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.opt.po.AdminExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.opt.po.AdminExample" >
    delete from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.opt.po.Admin" >
    insert into admin (adm_id, adm_tel, adm_name, 
      adm_pwd)
    values (#{admId,jdbcType=INTEGER}, #{admTel,jdbcType=VARCHAR}, #{admName,jdbcType=VARCHAR}, 
      #{admPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.opt.po.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="admId != null" >
        adm_id,
      </if>
      <if test="admTel != null" >
        adm_tel,
      </if>
      <if test="admName != null" >
        adm_name,
      </if>
      <if test="admPwd != null" >
        adm_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="admId != null" >
        #{admId,jdbcType=INTEGER},
      </if>
      <if test="admTel != null" >
        #{admTel,jdbcType=VARCHAR},
      </if>
      <if test="admName != null" >
        #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null" >
        #{admPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.opt.po.AdminExample" resultType="java.lang.Integer" >
    select count(*) from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin
    <set >
      <if test="record.admId != null" >
        adm_id = #{record.admId,jdbcType=INTEGER},
      </if>
      <if test="record.admTel != null" >
        adm_tel = #{record.admTel,jdbcType=VARCHAR},
      </if>
      <if test="record.admName != null" >
        adm_name = #{record.admName,jdbcType=VARCHAR},
      </if>
      <if test="record.admPwd != null" >
        adm_pwd = #{record.admPwd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin
    set adm_id = #{record.admId,jdbcType=INTEGER},
      adm_tel = #{record.admTel,jdbcType=VARCHAR},
      adm_name = #{record.admName,jdbcType=VARCHAR},
      adm_pwd = #{record.admPwd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.opt.po.Admin" >
    update admin
    <set >
      <if test="admTel != null" >
        adm_tel = #{admTel,jdbcType=VARCHAR},
      </if>
      <if test="admName != null" >
        adm_name = #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null" >
        adm_pwd = #{admPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.opt.po.Admin" >
    update admin
    set adm_tel = #{admTel,jdbcType=VARCHAR},
      adm_name = #{admName,jdbcType=VARCHAR},
      adm_pwd = #{admPwd,jdbcType=VARCHAR}
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
</mapper>