<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.opt.mapper.KninfoMapper" >
  <resultMap id="BaseResultMap" type="cn.opt.po.Kninfo" >
    <id column="kninfo_id" property="kninfoId" jdbcType="INTEGER" />
    <result column="kp_id" property="kpId" jdbcType="INTEGER" />
    <result column="kninfo_content" property="kninfoContent" jdbcType="VARCHAR" />
    <result column="kninfo_title" property="kninfoTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    kninfo_id, kp_id, kninfo_content, kninfo_title
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.opt.po.KninfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kninfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kninfo
    where kninfo_id = #{kninfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kninfo
    where kninfo_id = #{kninfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.opt.po.KninfoExample" >
    delete from kninfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.opt.po.Kninfo" >
    insert into kninfo (kninfo_id, kp_id, kninfo_content, 
      kninfo_title)
    values (#{kninfoId,jdbcType=INTEGER}, #{kpId,jdbcType=INTEGER}, #{kninfoContent,jdbcType=VARCHAR}, 
      #{kninfoTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.opt.po.Kninfo" >
    insert into kninfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kninfoId != null" >
        kninfo_id,
      </if>
      <if test="kpId != null" >
        kp_id,
      </if>
      <if test="kninfoContent != null" >
        kninfo_content,
      </if>
      <if test="kninfoTitle != null" >
        kninfo_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kninfoId != null" >
        #{kninfoId,jdbcType=INTEGER},
      </if>
      <if test="kpId != null" >
        #{kpId,jdbcType=INTEGER},
      </if>
      <if test="kninfoContent != null" >
        #{kninfoContent,jdbcType=VARCHAR},
      </if>
      <if test="kninfoTitle != null" >
        #{kninfoTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.opt.po.KninfoExample" resultType="java.lang.Integer" >
    select count(*) from kninfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kninfo
    <set >
      <if test="record.kninfoId != null" >
        kninfo_id = #{record.kninfoId,jdbcType=INTEGER},
      </if>
      <if test="record.kpId != null" >
        kp_id = #{record.kpId,jdbcType=INTEGER},
      </if>
      <if test="record.kninfoContent != null" >
        kninfo_content = #{record.kninfoContent,jdbcType=VARCHAR},
      </if>
      <if test="record.kninfoTitle != null" >
        kninfo_title = #{record.kninfoTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kninfo
    set kninfo_id = #{record.kninfoId,jdbcType=INTEGER},
      kp_id = #{record.kpId,jdbcType=INTEGER},
      kninfo_content = #{record.kninfoContent,jdbcType=VARCHAR},
      kninfo_title = #{record.kninfoTitle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.opt.po.Kninfo" >
    update kninfo
    <set >
      <if test="kpId != null" >
        kp_id = #{kpId,jdbcType=INTEGER},
      </if>
      <if test="kninfoContent != null" >
        kninfo_content = #{kninfoContent,jdbcType=VARCHAR},
      </if>
      <if test="kninfoTitle != null" >
        kninfo_title = #{kninfoTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where kninfo_id = #{kninfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.opt.po.Kninfo" >
    update kninfo
    set kp_id = #{kpId,jdbcType=INTEGER},
      kninfo_content = #{kninfoContent,jdbcType=VARCHAR},
      kninfo_title = #{kninfoTitle,jdbcType=VARCHAR}
    where kninfo_id = #{kninfoId,jdbcType=INTEGER}
  </update>
</mapper>